<?xml version="1.0"?>
<configuration>
	<connectionStrings>
  <add name="expomanagementConnectionString" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString2" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString3" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString4" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString5" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString6" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString7" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString8" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString9" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString10" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString11" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString12" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString13" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString14" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString15" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString16" connectionString="Data Source=.;Initial Catalog=.;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString17" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString18" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString19" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString20" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString21" connectionString="Data Source=;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString22" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString23" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString24" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString25" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString26" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString27" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString28" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString29" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString30" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString31" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString32" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString33" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString34" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString35" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString36" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString37" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString38" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString39" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString40" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString41" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString42" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString43" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString44" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString45" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString46" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString47" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString48" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
