<?xml version="1.0"?>
<configuration>
	<connectionStrings>
  <add name="expomanagementConnectionString" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString2" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString3" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString4" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString5" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString6" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString7" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString8" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString9" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString10" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString11" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString12" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString13" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString14" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString15" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString16" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString17" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString18" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString19" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString20" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="expomanagementConnectionString21" connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=expomanagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
